# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class



# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Python Cache
# ==========================================

.pytest_cache/
.mypy_cache/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.bak